@{
    ViewData["Title"] = "Home Page";
}

@using Bakery.Models;
@if (User.Identity.IsAuthenticated)
{
    <h1>Welcome to Pierre's Bakery @User.Identity.Name!</h1>
}
else
{
    <h1>Welcome Pierre's Bakery!</h1>
}

<h4>Treats</h4>
@if (Model["treats"].Length == 0)
{
  <p>No treats have been added yet!</p>
} 
<ul>
  @foreach (Treat treat in Model["treats"])
  {
    <li>@Html.ActionLink(treat.Name, "Details", "Treats", new { id = treat.TreatId })
    </li>
  }
</ul>

<h4>Flavors</h4>
@if (Model["flavors"].Length == 0)
{
  <p>No flavors have been added yet!</p>
} 
<ul>
  @foreach (Flavor flavor in Model["flavors"])
  {
    <li>@Html.ActionLink(flavor.Name, "Details", "Flavors", new { id = flavor.FlavorId })
    </li>
  }
</ul>

<hr>
<p>@Html.ActionLink("See all Treats", "Index", "Treats")</p> 
<p>@Html.ActionLink("See all Flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>