@{
  Layout = "_Layout";
}

@using Bakery.Models
@model Bakery.Models.Flavor

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>  


@if(@Model.FlavorTreats.Count == 0)
{
  <p>This treat does not have any flavors yet!</p>
}
else
{
  <h4>This flavor is tagged to these treats:</h4>
  <ul>
    @foreach(FlavorTreat join in Model.FlavorTreats)
    {
      <li>Flavor: @join.Treat.Name</li>
    }
  </ul>
}
    @if (User.Identity.IsAuthenticated)
    {
    <p>@Html.ActionLink("Back to list", "Index")</p>
    <p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
    <p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>
    <p>@Html.ActionLink("Add treat", "AddTreat", new { id = Model.FlavorId })</p>
    }
@Html.ActionLink("Back to Home", "Index", "Home")
